@font-face {
  font-family:'Dotum';
  src: url('img/KoPubWorld\ Dotum_Pro\ Bold.otf');
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Dotum';

}

ul, li { list-style: none; }

a,
a:hover,
a:link,
a:visited {
    text-decoration: none;
    color: #7b9acc
}

#sec1 {
  display: flex;
  flex-direction: column;
  background-image: url(img/testBG.jpg);
  background-size: cover;
  height: 140rem;
}

#sec2 {
  background-image: url(img/testBG.jpg);
  background-size: cover;
  max-height: 1100px;
  padding: 56px 0 80px 0;
  text-align: center;
}
#sec3 {
  background-image: url(img/testBG.jpg);
  background-size: cover;
  max-height: 1700px;
  padding: 56px 0 80px 0;
  text-align: center;
}
#sec4 {
  background-image: url(img/testBG.jpg);
  background-size: cover;
  max-height: 1100px;
  padding: 56px 0 80px 0;
  text-align: center;
}

.menubar { 
  display: flex;
  list-style: none;
  margin-top: 50rem;
  padding: 0 0;
  justify-content: center;
}

.menubar li a { 
  padding: 1.5rem 8rem;
  background-color: #FCF6F5;
  font-size: 2rem;
  border-radius: 0.4rem;
  margin: 0 1px;
  text-align: center;
  background-color: #2d2d2d;
  color: white;
}

.comment {
  font-size:7rem; 
  font-weight:900;
  letter-spacing:-0.05em; 
  text-align:center;
  color:#fff;
  margin: 10rem 0 0;
}

.sec1-video { 
  width:96.2rem; 
  height:54.1rem; 
  margin:0 auto; 
  position:relative; 
}

.video-content {
  position:relative;
  padding-bottom:0%;
  padding-top:0;
  height:100%;
  overflow:hidden;
}

.video-content > iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#sec5 {
  position: relative;
  padding: 80px 0px 0px;
  background-color: gray;
  list-style: none;
  width: 100%;
}

.links {
  padding: 20px 0 50px;
  padding-right: 15px;
}

.links:after {
  content: "";
  display: block;
  clear: both;
  *zoom: 1;
}

.links li {
  float: left;
  width: 19%;
  font-size: 2em;
  text-align: center;
  padding: 0.3rem 0;
  height: 40px;
  margin-left: 1%;
  margin-bottom: 10px;
  background-color: #FCF6F5;
}

.links li a {
  display: block;
}

.links li a img {
  width: 100%;
}


.sec2Btn {
    width: 20rem;
    height: 20rem;
}

.library {
    width: auto;
    height: auto;
}


@media screen and (max-width: 1401px) {
    html{
        font-size: 8px;
    }
}

@media screen and (max-width: 1093px) {
    html{
        font-size: 6px;
    }
}

@media screen and (max-width: 825px) {
    html{
        font-size: 4px;
    }
}

@media screen and (max-width: 611px) {
  html{
      font-size: 2px;
  }
}

@media screen and (max-width: 452px) {
  html{
      font-size: 1px;
  }
}