/* @import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css); */

@font-face {
    font-family:'Dotum';
    src: url('img/KoPubWorld\ Dotum_Pro\ Bold.otf');
}

html{
    font-family: 'Dotum'; 
}

.sec2Btn{
    width: 5rem;
    height: 5rem;
}

.library {
    width: auto;
    height: auto;
}

#sec1 {
    background-image: url(img/section1.png);
    background-size: contain;
    max-height: 1700px;
    padding: 56px 0 0;
}

#sec2 {
    background-image: url(img/section2.png);
    background-size: contain;
    max-height: 1100px;
    padding: 56px 0 0;
}

#sec3 {
    background-image: url(img/section3.png);
    background-size: contain;
    max-height: 1100px;
    padding: 56px 0 0;
}

#sec4 {
    background-image: url(img/section4.png);
    background-size: contain;
    max-height: 1100px;
    padding: 56px 0 0;
}

#sec5 {
    background-color: lightgray;
}


@media screen and (max-width: 1543px) {
    html{
        font-size: 8px;
    }
}

@media screen and (max-width: 1543px) {
    html{
        font-size: 8px;
    }
}

@media screen and (max-width: 1543px) {
    html{
        font-size: 8px;
    }
}